* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgba(0 110 182 / 1);
    --nav-color: rgba(113, 113, 114, 0.846);
    --heading-text-color: #fff;
    --border-color: black;
    --heading-font:"Quicksand", sans-serif ;
    --body-font: "Quicksand",sans-serif ;
    --box-shadow: 0 0 15px gray;
}

body {
    font-family: var(--body-font);
    
}
h1{
    grid-column: 1 / 3;
    font-family: var(--heading-font);
    margin: 1rem 2rem 5rem;
    color: rgba(11, 11, 45, 0.846);
    text-align: center;
}
h2{
    font-family: var(--heading-font);
}

header {
    text-align: left;
    background-color: var(--main-color);
    text-align: center;
    color: var(--heading-text-color)
    
}

.navigation {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--nav-color);
    align-items: center;
}

.navigation li {
    flex: 1 1 auto;
    /* What is the difference between auto and 100% flex-basis? - turn on link borders to view */
}

.navigation a {
    font-weight: 700;
    display: block;
    color: #eee;
    padding: 0.75rem;
    text-decoration: none;
    text-align: center;
}

.navigation a:hover {
    text-decoration: underline;
    text-decoration-color: yellow;
}

p {
    text-align: left;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: #eee;
    max-width: 800px;
    margin: auto;
}

.card {
    background-color: #fff;
    padding: 1rem;
    border: 1px solid var(--border-color);
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

img{
    box-shadow: var(--box-shadow);
    border-radius: .5rem;

}

footer {
    background-color: var(--main-color);
    padding: 2rem;
    color: var(--heading-text-color);
}

footer p {
    text-align: center;
}