/* --- RESETS & VARIABLES --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: DarkGreen;
    --second-color: Goldenrod;
    --heading-text-color: #fff;
    --heading-font: "Acme", sans-serif;
    --body-font: "Roboto", sans-serif;
    --box-shadow: 0 0 15px gray;
}

/* --- BASE ELEMENTS --- */
body {
    font-family: var(--body-font);
}

h1 {
    font-family: var(--heading-font);
    margin: 1rem 2rem ;
    color: var(--heading-text-color);
    text-align: center;
}

h2 {
    background-color: var(--second-color);
    font-family: var(--heading-font);
    margin: 1rem 2.5rem 1rem 0rem;
    color: black;
    text-align: center;
}

p {
    text-align: center;
    padding-bottom: .75rem;
}

img {
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 100%;
    height: auto;
}

/* --- PAGE STRUCTURE --- */
header {
    background-color: var(--main-color);
    text-align: center;
    font-size: 1.5em;
    padding: 1.1rem;
    color: var(--heading-text-color);
}


main {
    display: grid;
    grid-template-columns:1fr;
    gap: .4rem;
    padding: 1rem;
    background-color: #eee;
    max-width:1920px;
    margin: auto;
}

footer {
    background-color: var(--main-color);
    padding: 2rem;
    color: var(--heading-text-color);
}

footer p {
    text-align: center;
}

/* --- COMPONENTS --- */

.card {
    background-color: #fff;
    text-align: center;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}


.card p {
    text-align: left;
}

.card p strong{
    display: inline-block;
    width: 50%;
    text-align: right;
    padding-right: 0.5rem;
}

.hero img{
    max-width: fit-content;
}

.weather img{
    width: 75px;
    display: block;
    margin: 1rem auto;
    box-shadow: none;
}